/* Settings.css */

.settings-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .settings-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .settings-header h1 {
    margin-left: 10px;
  }
  
  .settings-form {
    margin-bottom: 20px;
  }
  
  .settings-form label {
    display: block;
    margin-bottom: 5px;
  }
  
  .settings-form input[type="text"],
  .settings-form input[type="file"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .settings-form button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .settings-form button:hover {
    background-color: #0056b3;
  }
  
  .current-profile-picture {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    margin-bottom: 20px;
  }
  
  .current-profile-picture img {
    width: 200px; /* Adjust the size as needed */
    height: 200px; /* Adjust the size as needed */
    border-radius: 50%;
  }
  