body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    text-align: center;
  }
  
 .btn-primary{
    height: 65px;
    margin-top: 5%;
 }
  
  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .file-input {
    display: none;
  }
  
  .file-label {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .file-label:hover {
    background-color: #0056b3;
  }
  
  .submit-button {
    background-color: #28a745;
  }
  
  .submit-button:hover {
    background-color: #218838;
  }
  
  .error {
    color: #dc3545;
    font-size: 0.9rem;
    margin-top: 5px;
  }
  